asana
python-dotenv

langserve
uvicorn
fastapi
gunicorn
sse_starlette
langchain-anthropic
langchain-groq
langchain-openai
langchain-chroma
langchain-huggingface
sentence-transformers
unstructured[all-docs]
streamlit
aiosqlite
google-api-python-client
google-auth-oauthlib
oauthlib
requests-oauthlib
httpx
copilotkit
langchain
langchain-community
langchain-core
langgraph
